<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
<title>About</title>
<link rel="icon" href="/img/icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This page was created by Kacharuk M. It uses data from positionstack.com and weatherstack.com</p>
        <img class="portrait" src="img/kacharuk.jpg">
    </div>

    {{>footer}}
</body>


</html>